{dbase_unit_test,git_user,"joq62"}.
{dbase_unit_test,git_pw,"20Qazxsw20"}.
{dbase_unit_test,cl_dir,"cluster_config"}.
{dbase_unit_test,cl_file,"cluster_info.hrl"}.
{dbase_unit_test,app_specs_dir,"app_specs"}.
{dbase_unit_test,service_specs_dir,"service_specs"}.
{dbase_unit_test,dbase_vm_id,["dbase0","dbase1","dbase2"]}.
